<!DOCTYPE html>
<html>
    <head>
        <title>{{title|upper}}</title>
    </head>
    <body>
    	<h1>{{ title|upper }}</h1>
        <ul>
            <li>New Cart {{ cart_type }} added to the database.</li>
        </ul>
    </body>
</html>