<!DOCTYPE html>
<html>
    <head>
        <title>{{title|upper}}</title>
    </head>
    <body>
    	<h1>{{title|upper}}</h1>
        <ul>
            <li>New Product {{ product_name }} added to the database.</li>
        </ul>
    </body>
</html>