<!DOCTYPE html>
<html>
    <head>
        <title>{{title|upper}}</title>
    </head>
    <body>
        <h1>{{title|upper}}</h1>
        <ul>
            <li>Product With ID # {{ product_id }} is in the database.</li>
        </ul>
    </body>
</html>